#mainbox{

display: flex;
justify-content: center;
align-items: center;
gap: 20px;
background-color: rgb(255, 254, 253);


}




#box{

display: flex;
justify-content: center;
align-items: center;
gap: 20px;



}

#box div{

    width: 150px;
    height: 30px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
border-radius: 30px;


}
