#mainbox{

display: flex;
justify-content: center;
align-items: center;
gap: 20px;
background-color: rgba(176, 89, 43, 0.492);



}




#box{

display: flex;
justify-content: center;
align-items: center;
gap: 20px;


}

#box div{

    width: 250px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;



}
